
/************ OVERALL PAGE STYLES ************ /

/*  CSS reset */

html, body, div, span, h1, h2, h3, h4, p, header, nav, main, section, article, footer, ul, li, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 62.5%;
}

ul {
    list-style-type: none;
}

/* reusable variables */
/* font color, font size, icons? block quotes? */

$header-font: 'Lora', serif;
$main-font: 'Roboto', sans-serif;
$accent-font: 'Shrikhand', sans-serif;
$nav-font: 'Rubik Mono One', sans-serif;
$btn-font: 'Eczar', serif;

$primary-color: #113321;
$secondary-color: #293d32;
$tertiary-color: #bbb;

$accent-color: #f55536;
$other-color: #fabc3c;

$light-color: #fff;
$background-color: #ffcb69;

/* mobile breakpoints */

$phone: 375px;
$tablet: 768px;

/* mixins */

@mixin flex {
    display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
}

@mixin price-btn {
    font-family: $accent-font;
    font-size: 1.6rem;
    background: $other-color;
    opacity: 1;
    border: 2px solid $accent-color;
    border-radius: 60%;
    padding: 1.2rem;

    @media screen and (max-width: $phone) {
        font-size: 1.4rem;
    }
}

@mixin product-highlight {
    // add product highlight/background
}


/* body styles */

body {
    font-family: $main-font;
    color: $primary-color;
    background: $background-color;
}

/* typography */

h1, h2, h3, h4 {
    font-family: $header-font;
    color: $accent-color;
    padding: 10px;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.4rem;
}

a {
    text-decoration: none;
    color: $secondary-color;
}



/************ HEADER ************/

.header {
    background: #5af25a;
    @include flex;
    position: relative;
    text-shadow: $light-color;
    max-width: 100%;
    display: block;
}

.banner {
    &__img {
       width: 100%;
       margin: 0 auto;
       display: block;

       @media screen and (min-width: $tablet) {
             max-width: 1300px;
        }
    }
}

.title {
    text-align: center;
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    color: $accent-color;
    font-family: $accent-font;
    font-size: 5.2rem;
    letter-spacing: .3rem;
    padding: 10px;
    text-shadow: 3px 3px #fff;

    @media screen and (max-width: $phone) {
        font-size: 3.6rem;
        text-shadow: 2px 2px #fff;
    }
}

.title.secondary {
    font-size: 3.6rem;
}


/* main nav */

.nav {
    width: 100%;
    margin-bottom: 2rem;
    
    &__menu {
        @include flex;
        max-width: 400px;
        margin: 0 auto;

        @media screen and (max-width: $phone) {
            max-width: 300px;
        }

        &--item {
            font-family: $nav-font;
            font-size: 2rem;
            color: $accent-color;
            margin: 1rem;
            position: sticky;

            @media screen and (max-width: $phone) {
                margin: 0;
                font-size: 1.6rem;
            }
        }
    }
}

/* products nav */

.products-nav {
    width: 100%;
    background: $other-color;

    &__menu {
        @include flex;
        max-width: 60%;
        margin: 20px auto;

        &--item {
            font-size: 2rem;
            display: block;
            margin: 0 auto;
            padding: 10px;

            @media screen and (max-width: $phone) {
                font-size: 1.4rem;
            }
        }

        @media screen and (max-width: $phone) {
            display: inherit;
            text-align: center;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    // z- index?
}


/************ MAIN CONTENT ************/

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    background: $background-color;
}

.featured {
    position: relative;
    top: 0;

    &__title {
        padding: 20px;

        @media screen and (max-width: $phone) {
            font-size: 2rem;
            padding: 10px;
        }
    }

    &__container {
        @include flex;
        padding: 20px;

        @media screen and (max-width: $phone) {
            padding: 10px;
        }

        &__card {
            @include flex-column;
    
            &--img {
                width: 200px;
                @include product-highlight;

                @media screen and (max-width: $phone) {
                    max-width: 150px;
                }
            }

            &--name {
                font-size: 1.8rem;
                font-family: $nav-font;
                text-shadow: 2px 2px #bbb;

                @media screen and (max-width: $phone) {
                    font-size: 1.4rem;
                    text-shadow: 1px 1px #bbb;
                }
            }

            &--btn {
                @include price-btn;
            }

            &--btn:hover {
                opacity: 0.8;
            }
        }
    }
}

.main {
    background: $background-color;
    padding: 3rem;

    &__heading {
        padding-top: .5rem;
    }

    &__content {
        padding: 2.4rem;
        font-size: 1.6rem;
    }
}


/************ PRODUCTS GRID ************/

.products {
    padding: 1rem;

    &__title {
        float: left;
        width: 20%;
        padding: 2rem;
        margin-top: 20px;

        @media screen and (max-width: $phone) {
            float: none;
            text-align: center;
            width: auto;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    &__card {
        margin: 10px;
        padding: 10px;

        &--img {
            max-height: 250px;
            object-fit: contain;
            display: block;
            margin: 0 auto;
        }

        &--name {
            font-size: 2.4rem;
            text-align: center;
        }

        &--description {
            font-size: 1.8rem;
            padding-bottom: 10px;
            text-align: center;
        }

        &--btn {
            @include price-btn;
            text-align: center;
        }

        &--btn:hover {
            opacity: 0.8;
        }
    }
}


/************ PRODUCTS DETAIL ************/

.product-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;

    @media screen and (max-width: $phone) {
        display: inherit;
    }

    &__photos {
        &--img {
            max-width: 100%;
            display: block;
            object-fit: contain;
        }
    }

    &__form {
        &--type, &--qty {
            border-radius: 30px;
            font-family: $main-font;
            font-size: 1.8rem;
            padding: 10px;
            margin: 20px;
            display: inline;
            width: 50%;

            @media screen and (max-width: $phone) {
                display: inherit;
                width: 80%;
            }
        }

        &--btn {
            @include price-btn;
            padding: 2rem;
            font-size: 2rem;
            display: block;
            margin: 20px auto;
        }

        &--text p {
            font-size: 1.6rem;
            padding: 1rem;
        }
    }
}


/************ CONTACT FORM ************/

.contact {
    padding: 50px;

    > p, > form > p, > form > label {
        font-size: 1.8rem;
        text-align: center;
    }

    > form {
        width: 60%;
        margin: 0 auto;
    }

    &__basic-info {
        @include flex-column;
        margin-top: 40px;
    
        > input {
            margin: 10px;
            padding: 10px;
            font-family: $nav-font;
            font-size: 1.8rem;
            border: 2px solid $accent-color;
            border-radius: 30px;
            width: 100%;
        }
    }

    &__comment {
        margin: 10px;
        padding: 10px;
        font-family: $nav-font;
        font-size: 1.8rem;
        border: 2px solid $accent-color;
        border-radius: 30px;
        width: 100%;
    }

    &__btn {
        @include price-btn;
        width: 200px;
        padding: 2rem;
        font-size: 2rem;
        display: block;
        margin: 20px auto;
    }
}

.error {
	border: 3px solid red !important;
}

.error-msg {
	font-size: 20px;
	color: red;
	margin-top: 10px;
}


/************ FOOTER ************/

.footer {
    background: $other-color;
    clear: both;
    height: 200px;
    padding: 3rem;

    @media screen and (max-width: $phone) {
        @include flex-column;
    }

    &__nav {
        float: left;

        @media screen and (max-width: $phone) {
            margin-top: 20px;
        }

        &__menu {
            &--item {
                padding: .5rem;
                font-size: 2rem;
                font-family: $nav-font;

                @media screen and (max-width: $phone) {
                    margin-top: 20px;
                    display: inline;
                    font-size: 2.2rem;
                }
            }
        }
    }

    &__text {
        text-align: center;

        &--title {
            font-size: 2.6rem;
            font-family: $accent-font;
        }

        &--copyright {
            font-size: 1.4rem;
        }
    }

    &__social {
        float: right;
        display: flex;
        flex-direction: column;

        &--icon {
            font-size: 3rem;
            padding: 1rem;
        }

        @media screen and (max-width: $phone) {
           display: inline;
            margin-top: 10px;
        }
    }
}

/************ ADDITIONAL STYLES ************/

.remove {
    display: none;
}

