<%- include('./includes/header.ejs') %>

</div>
</header>

<div class="wrapper">

    <main class="contact">

        <p class="contact__text">search for an item here</p>

        <div class="search">
            <input type="text" placeholder="search..." id="search__bar" onkeyup="searchProducts()">
            <!-- to-do: style search bar & section, and add sort by price -->

            <p class="contact__text">filter by price</p>
            <div class="contact__text"><button onclick="sortByPriceDesc()" id="button__desc">high to low</button> | <button onclick="sortByPriceAsc()" id="button__asc">low to high</button></div>

            <section class="products">
                <h3 class="products__title">search results</h3>
                <div class="products__grid" id="search__results"></div>
            </section>
        </div>


    </main>
</div>

<script src="../js/search.js" type="text/javascript"></script>

<%- include('./includes/footer.ejs') %>
