<footer class="footer">
    <div class="footer__text">
        <p class="footer__text--title"><a href="/">crave farms</a></p>
        <p class="footer__text--copyright">&copy; 2021, <a href="/contact">crave farms<a></p>
    </div>
    
    <nav class="footer__nav">
        <ul class="footer__nav__menu">
            <li class="footer__nav__menu--item"><a href="/"></a>home</a></li>
            <li class="footer__nav__menu--item"><a href="/products">shop</a></li>
            <li class="footer__nav__menu--item"><a href="/search">search</a></li>
            <li class="footer__nav__menu--item"><a href="/contact">contact</a></li>
        </ul>
    </nav>

    <div class="footer__social">
        <i class="fab fa-instagram footer__social--icon"></i>
        <i class="fab fa-facebook footer__social--icon"></i>
        <i class="fab fa-twitter footer__social--icon"></i>
    </div>

</footer>

<script src="../js/main.js" type="text/javascript"></script>

</body>

</html>
